.logo {
    height: 50px;
    float: left;
    padding: 0;
    margin: 0.5rem;
}

.navbar {
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    text-wrap: nowrap;
}

nav li a {
    text-decoration: none;
    color: var(--clr-dark);
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: var(--size-4xl);
    display: inline-block;
    transition: transform 0.5s;
    isolation: isolate;
    padding: 0;
    margin: 1.2rem 0;

}

nav li a:hover {
    color: var(--clr-blue400);
    transform: translateY(-0.5rem);
    isolation: isolate;
}

.subscribe_bg {
    background-image: url("../images/newsletterbg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}



.newsletter p {
    font-size: var(--size-4xl);
    color: var(--clr-dark);
    font-family: "VT323", serif;
    position: absolute;
    left: 50%;
    top: 60%;
    margin-top: 2rem;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    width: fit-content;
    text-align: center;
    align-items: center;

}

.form-group {
    width: 500px;
    position: absolute;
    inset: 0;
    margin: 0;
}

.form-group input {
    border: 2px solid var(--clr-blue400);
    border-radius: 1rem;
    font-size: var(--size-base);
    font-family: "VT323", serif;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    width: 100%;
    height: 100%;
    box-shadow: 8px 3px 30px 2px var(--clr-emerald600);
}

.contact-inputs {
    margin-top: 0.3rem;
}

.small-btn {
    position: relative;
}


/* XXS screens */
@media (min-width: 320px) {

    .logo {
        height: 20px;
        margin: 0.2rem 0 0 0.2rem;
    }

    nav ul {
        margin: 0;
        gap: 0.2rem;
    }

    nav li a {
        font-size: var(--size-xs);
    }

    .form-group {
        width: 280px;
        height: 10px;
        position: absolute;
        inset: 0;
        margin: auto;

    }

    .form-group input {
        padding: 1rem 0.8rem;
        font-size: var(--size-s);
        width: 94%;
    }

    .small-btn {
        font-size: var(--size-xs);
        left: 68%;
        transform: translateY(-135%);
    }

    .newsletter p {
        font-size: var(--size-s);
        top: 62%;
    }
}

/* Small screens */
@media (min-width: 425px) {

    .logo {
        height: 25px;
    }

    nav li a {
        font-size: var(--size-lg);
    }

    .form-group input {
        padding: 1rem 0.8rem;
        font-size: var(--size-s);
    }

    .small-btn {
        font-size: var(--size-xs);
        left: 74%;
        transform: translateY(-130%);
    }

    .newsletter p {
        font-size: var(--size-lg);
        top: 62%;
    }
}

/* Medium screens */
@media (min-width: 768px) {

    .logo {
        height: 35px;
    }


    nav li a {
        font-size: var(--size-2xl);
    }

    .form-group {
        width: 300px;
        height: 10px;
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .form-group input {
        width: 110%;
        height: 100%;
        padding: 1.2rem 0.8rem;
        font-size: var(--size-s);
    }

    .small-btn {
        font-size: var(--size-base);
        left: 85%;
        transform: translateY(-130%);
    }

    .newsletter p {
        font-size: var(--size-2xl);
        top: 65%;
    }

}

/* Large screens */
@media (min-width: 1024px) {

    .logo {
        height: 50px;

    }

    nav li a {
        font-size: var(--size-4xl);
    }

    .form-group {
        width: 500px;
        height: 50px;
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .form-group input {
        width: 100%;
        height: 35%;
        padding: 1.4rem 0.8rem;
        font-size: var(--size-xl);
    }

    .small-btn {
        font-size: var(--size-xl);
        left: 82%;
        transform: translateY(-142%);
    }

    .newsletter p {
        font-size: var(--size-3xl);
    }
}

/* Extra Large screens */
@media (min-width: 1440px) {

    .logo {
        height: 55px;
    }

    nav ul {
        gap: 3rem;
    }

    nav li a {
        font-size: var(--size-5xl);
    }

    .form-group {
        width: 550px;
        height: 50px;
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .form-group input {
        width: 100%;
        height: 35%;
        padding: 1.8rem 0.8rem;
        font-size: var(--size-xl);
    }

    .small-btn {
        font-size: var(--size-2xl);
        left: 80.5%;
        transform: translateY(-140%);
    }

    .newsletter p {
        font-size: var(--size-4xl);
        top: 70%;
    }
}